<html>
    <head>
    <title>Rules1</title>
    <style>
 
        
    </style>
</head>
    <body style="background: black; height:600px">
        <h1>Round 1</h1>
        <div class="form">
        <ul>
            <li>
                Rule 1 : You can’t re-attempt once you click on submit button.
            </li>
            <li>
                Rule 2 : You cannot exit fullscreen if you are caught doing so you will be disqualified.
            </li>
            <li>
                Rule 3 : You cannot refresh the page if you are caught doing so you will be disqualified.
            </li>
            <li>
                Rule 4 : Some questions will have a timer in which you have to clear that question<br>and if you failed to do so the question will be automatically skipped.
            </li>
            <li>
                Rule 5 : The timer starts as soon as the page is loaded.
            </li>
            <li>
                Rule 6 : Each question carries 5 Points.
            </li>
        </ul>
        </div>
        <div>
            <button (click)="Submit()"> Start </button>
        </div>

    </body>
</html>