<html>
<head>
  <title></title>
  <script class='e2e-truted-url' [href]="scripjs"></script>
</head>
<body id="bod" style="height:750px;">
    <div> 
        Time Left - 
        <input id="minutes" type="text" style="width: 20px; 
            border: none; font-size: 16px; 
            font-weight: bold; background: transparent; color: black;"><font size="5"> : 
                </font> 
        <input id="seconds" type="text" style="width: 20px; 
            border: none; font-size: 16px; 
            font-weight:bold; background: transparent ;color: black;"> 
    </div>
<canvas width="400" height="400" id="game"></canvas>
<button  class=".btn" type="submit" id="submit" (click)="submit()"  class="button">Submit</button>
</body>
</html>
