<!DOCTYPE html> 
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head> 
    <body style="background-color:black;">
        <div class="row">
            <div class="column" >
                <img src="assets/img/q4.jpg" width="600">
            </div>
            <div class="column">
                <font color="white"><h2>Decipher the given sentence using the given chart<br>Sentence: viqz iql zg wt wkgatf wtygkt ozl xlt  
                    </h2>
                    <p><b>Answer: </b></p></font><input type="text" id="answer">
                    <button (click)="validate()"><b>Submit</b></button>
            </div>
        </div> 
    </body> 
</html>
