<!DOCTYPE html> 
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head> 
    <body style="background-color:black; height: 750px">
        <div class="row">
            <div class="column" >
                <img src="assets/img/q3.PNG" width="600">
            </div>
            <div class="column">
                <font color="white"><h2>Q: Answer the Rebus given below:<br>
                    Rebus-It is a puzzle that uses symbols or pictures or different point of view to represent a word.
                    </h2>
                    <p><b>Answer: </b></p></font><input type="text" id="answer">
                    <button (click)="validate()">Submit</button>
            </div>
        </div> 
    </body> 
</html>
