<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="background-color:black; height: 750px;">
    <div class="row">
      <div class="column">
        <img src="assets/img/q2.jpeg" width="600" />
      </div>
      <div class="column">
        <font color="white">
          <p><b>Answer: </b></p></font
        ><input type="text" id="answer" />
        <button (click)="validate()">Submit</button>
      </div>
    </div>
  </body>
</html>
