<!DOCTYPE html>
<html>
  <body style="background-color:#0b1c12; height: 730px;">
    <div class="row">
      <div class="column">
        <img src="assets/img/q5.jpeg" width="500" />
      </div>
      <div class="column">
        <font color="white"
          ><h2>Solve the question</h2>
          <p>
            Answer: <input type="text" id="answer" />
            <button type="submit" class="button" (click)="Submit()">
              <b>Submit</b>
            </button>
          </p></font>
      </div>
    </div>
  </body>
</html>
