<!DOCTYPE html> 
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head> 
    <body style="background-color:black;">
        <div class="row">
            <div class="column" >
                <img src="assets/img/q5.png" width="600">
            </div>
            <div class="column">
                <font color="white"><h2>To solve the following riddle use the alphabets that you noted to form two words and complete the the sentence below.<br>Find the __________ in cse department.    
                    </h2>
                    <p><b>Answer: </b></p></font><input type="text" id="answer">
                    <button (click)="validate()"><b>Submit</b></button>
            </div>
        </div> 
    </body> 
</html>
