<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		area{
			cursor: default;
		}
	</style>
</head>
<body style="background: black;">
	<p style="float: right; padding-right: 40px; color: white; padding-top: 250px;"><b>Guess the bird which gives us food when it is alive and even after when it's dead.</b><br><b>Solve the above riddle and find the word in the given map and click on it.</b></p>
	<map name="img1">
		<area shape="rect" coords="430,289,453,300" (click)="submit(true)">
	</map>
<img src="assets/img/Question.png" usemap="#img1" height=700 width=700>
</body>
</html>