<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="background-color:black; height: 720px;">
    <div class="row">
      <div class="column">
        <img src="assets/img/1(b).jpeg" width="600" />
      </div>
      <div class="column">
        <font color="white"
          ><h2>Solve the simple question given in the image</h2>
          <p>
            Answer: <input type="text" id="answer" />
            <button type="submit" class="button" (click)="validate()">
              <b>Submit</b>
            </button>
          </p></font
        >
      </div>
    </div>
  </body>
</html>
